<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'index')}">

<body>
<div class="container">
    <span th:if="${username}">
        <h3>Welcome back <span th:text="${username}"></span></h3>
        <a type="button" class="btn btn-lg btn-default" href="/logout">Logout</a>
    </span>
    <span th:unless="${username}">
        <h3>You're not logged in yet!</h3>
        <a type="button" class="btn btn-lg btn-default" href="/login">Login</a>
    </span>
</div>
</body>
</html>
