<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'workout')}">

<body>

<div class="container">
    <h1>Add a workout</h1>
    <form action="/workout" th:object="${object}" method="POST" enctype="utf8">
        <div>
            <label>Date</label>
            <input type="date" th:field="*{date}"/>
            <p th:each="error : ${#fields.errors('date')}"
               th:text="${error}">Validation error</p>
        </div>
        <div>
            <label>Duration</label>
            <input type="number" th:field="*{duration}"/>
            <p th:each="error : ${#fields.errors('duration')}"
               th:text="${error}">Validation error</p>
        </div>
        <button type="submit">Add</button>
    </form>
</div>
<div class="container">
    <h1>Most Recent Workouts</h1>
    You currently have <span th:text="${numWorkouts}">0</span> workouts.
    <table class="table">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Date</th>
            <th scope="col">Duration</th>
        </tr>
        </thead>
        <tbody>
        <th:block th:each="record : ${records}">
            <tr>
                <td th:text="${record.id}"></td>
                <td th:text="${record.date}"></td>
                <td th:text="${record.duration}"></td>
                <td><a th:href="'/workout/' + ${record.id}">Edit</a></td>
                <br>
            </tr>
        </th:block>
        </tbody>
    </table>
</div>

</body>
</html>
